<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <properties resource="devmelonlee/delicious_place/config/jdbc.properties"></properties>

  <typeAliases>
    <package name="devmelonlee.delicious_place.vo"/>
  </typeAliases>
  
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="devmelonlee/delicious_place/dao/mysql/ContentDao.xml"/>
    <mapper resource="devmelonlee/delicious_place/dao/mysql/GatherDao.xml"/>
  </mappers>
</configuration>